$black: #293846;

$grey: grey;
$greyLight: #666666;
$greyLighter: #ddd;

$whiteLighter: #fcfcfc;
$whiteLight: #f7f7f7;
$white: #fff;
$whiteDark: #ddd;

$greenLighter: #94ffd7;
$green: #009a61;
$greenDark: #004e31;